<% include partials/header %>
<div class="jumbotron container text-center" style="background-image: url("http://res.cloudinary.com/sahapranta/image/upload/v1506524660/hksamacar_yskqe1.jpg");">
<h1>Welcome</h1>
<h3>মাসিক হরেকৃষ্ণ সমাচার এর পক্ষ থেকে আপনাকে জানাই কৃষ্ণপ্রীতি ও শুভেচ্ছা।</h3>

<a href="/campground”> আমাদের ব্লগে প্রবেশ করুন</a></div>

<% include partials/footer %>
