<% include partials/header %>
<div style:"background-image: url("/pic/hksamacar-bg.jpg");">
<h1>Welcome</h1>
<h2>মাসিক হরেকৃষ্ণ সমাচার এর পক্ষ থেকে আপনাকে জানাই কৃষ্ণপ্রীতি ও শুভেচ্ছা।</h2>

<a href="/campground”> আমাদের ব্লগে প্রবেশ করুন</a></div>

<% include partials/footer %>
