<% include partials/header %>
<div class="jumbotron container text-center">
<h1>Welcome</h1>
<h3>মাসিক হরেকৃষ্ণ সমাচার এর পক্ষ থেকে আপনাকে জানাই কৃষ্ণপ্রীতি ও শুভেচ্ছা।</h3>
<a href="/campground" class="huge ui secondary button"> আমাদের ব্লগে প্রবেশ করুন</a></div>

<% include partials/footer %>
