<% include partials/header %>
<div class="container">
<div class="jumbotron text-center">
<h1>Log In</h1>
    <form action="/login" method="POST">
        Username: <input type="text" placeholder="username" name="username" autofocus required><br><br>
        Password: <input type="password" placeholder="password" name="password"><br><br>
        <div class="huge ui buttons">
          <input type="reset" class="ui button">
          <div class="or"></div>
          <input type="submit" value="log In" class="ui positive button">
        </div>
    </form>
</div>
</div>
<% include partials/footer %>