body {
    background-image: url("http://res.cloudinary.com/sahapranta/image/upload/v1506524660/hksamacar_yskqe1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height:100%;
    background-size:cover; 
}
.thumbnail img {
    width: 100%;
}
.thumbnail{
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}
#delete-form {
    display:inline;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}
